<?php

namespace common\services\SshtApiGwClient\mapping;

use Yii;
use yii\db\Query;
use common\services\SshtApiGwClient\mapping\SshtApiQueryRepository;


/**
 * class SshtApiQueryMapping()
 *
 * static function untuk select query data simrs lokal payload satusehatapigw
 *
 */
class SshtApiQueryMapping implements SshtApiQueryRepository
{
  // query-encounter
  public static function queryEncounterRalanSimrs($tgl_param)
  {
    $dbSimrs = Yii::$app->db; // dbSimrs

    $subQuery = (new Query())
      ->select(['Id', 'trim(rm) as rm', 'tanggal', 'trim(dokter) as dokter', 'poli', 'tglperiksa', 'resep'])
      ->from('mr_periksa_poli')
      ->where("tanggal LIKE '$tgl_param%'")
      // ->where(['like', 'tanggal', $tgl_param . '%', false])
      ->groupBy('Id');

    return (new Query())
      ->select([
        'tblnew.rm',
        'TRIM(mr_ktp.ktp) as ktp',
        'TRIM(mmr.nama) as pasien_nama',
        'tblnew.dokter',
        'TRIM(muser.nm_user) as dokter_nama',
        'muser.idssht as dokter_ihs',
        'mpoli.idihs as lokasi_ihs',
        'tblnew.poli as poli',
        "GROUP_CONCAT(DISTINCT RTRIM(mr_kunjungan.icd) SEPARATOR ';') as icd_codes",
        'MIN(tblnew.tglperiksa) as a_end',
        'MAX(tblnew.resep) as p_rawend'
      ])
      ->from(['tblnew' => $subQuery])
      ->innerJoin('mr_kunjungan', 'tblnew.rm = mr_kunjungan.rm')
      ->innerJoin('mpoli', 'tblnew.poli = mpoli.poli')
      ->innerJoin('mmr', 'tblnew.rm = mmr.rm')
      ->innerJoin('mr_ktp', 'tblnew.rm = mr_ktp.rm')
      ->innerJoin('muser', 'tblnew.dokter = muser.id_user')
      ->where("tblnew.tglperiksa LIKE '$tgl_param%'")
      // ->where(['like', 'tblnew.tglperiksa', $tgl_param . '%', false])
      ->andWhere(['like', 'mr_kunjungan.tanggal', $tgl_param . '%', false])
      ->andWhere(['mr_kunjungan.tlanjut' => 'PULANG'])
      ->andWhere(['not in', 'tblnew.poli', ['11', '09', '98', '87', '74', '29']]) // Filter poli
      ->andWhere(['not', ['muser.idssht' => null]])
      ->groupBy('tblnew.rm')
      ->all($dbSimrs); // Asumsi db2 adalah koneksi SIMRS
  }

  public static function queryEncounterRanapSimrs($tgl_param) {}
  public static function queryEncounterUgdSimrs($tgl_param) {}

  // query-servicerequest
  public static function queryServiceRequestSimrsRadio($encounter_class, $rm, $tgl_param, $noregis = null)
  {
    $dbSimrs = Yii::$app->db; // dbSimrs

    if ($encounter_class == "AMB") {
      return (new Query())
        ->select([
          'rd_order_poli.*',
          'rd_biodata.noregis',
          'rd_biodata.dnkirim',
          'rd_biodata.dkirim',
          'trim(rd_biodata.dperiksa) as dperiksa',
          'muser.nm_user',
          'muser.idssht',
          'rd_daftar_periksa.loinc'
        ])
        ->from('rd_order_poli')
        ->leftJoin('rd_biodata', 'rd_order_poli.noradio = rd_biodata.noradio')
        ->leftJoin('muser', 'rd_biodata.dperiksa = muser.nik')
        ->leftJoin('rd_daftar_periksa', 'rd_order_poli.kode = rd_daftar_periksa.kode')
        ->where([
          'rd_order_poli.rm' => $rm,
          'rd_order_poli.tanggal' => $tgl_param,
          'rd_order_poli.kode' => ['01201', '01202'], // config sini untuk add/exclude rd_daftar_periksa.kode
          'rd_biodata.noregis' => ''
        ])
        ->one($dbSimrs);
    } elseif ($encounter_class == "INP") {
    } elseif ($encounter_class == "EMER") {
    } else {
      return ['status' => false, 'message' => 'false encounter_class value!!'];
    }
  }

  // query-observation-diagnosticreport RAD
  // observation & diagnostic report RAD
  public static function queryObservationDanDiagnosticReportSimrsRadio(string $noradio)
  {
    $dbSimrs = Yii::$app->db; // dbSimrs

    return (new Query())
      ->select(['b.rm', 'h.hasil'])
      ->from('rd_hasil h')
      ->leftJoin('rd_biodata b', 'h.noradio = b.noradio')
      ->where(['h.noradio' => $noradio, 'h.ondelete' => 0])
      ->one($dbSimrs);
  }
}
